.header {
    margin: 2px auto;
    padding: 10px 20px;
    box-shadow: 0 0 2px 0 rgb(114, 114, 114);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > h3 {
    font-size: 1.5rem;
    color: #E2E2E3;
    margin-left: 10px;
    margin-right: 80px;
}

.header_center {
    display: flex;
    background-color: #525355;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    justify-content: space-between;
    padding: 25px 16px;
    height: 30px;
    border: 1px solid 525355;
    border-radius: 8px;
}

.header_center > input {
    border: none;
    outline-width: 0;
    font-size: 17px;   
    background-color: #525355;
    color: #E2E2E3;
    margin: 0 8px;
    width: 550px;
}

#search-icon {
    color: white;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}
.header_right > .account {
    color: white;
    font-size: 35px;
    justify-content: right;
}

@media only screen and (max-width: 930px) {
   .header_center {
       width: 400px;
   }
}

@media only screen and (max-width: 705px) {
    .header_center {
        width: 280px;
    }
    .header_center > input {
        width: 240px;
    }
 }

 @media only screen and (max-width: 600px) {
    .header_center {
        width: 200px;
    }
    .header_center > input {
        width: 140px;
    }
 }

 @media only screen and (max-width: 520px) {
    .header_center {
        width: 200px;
    }
    .header_center > input {
        width: 140px;
    }

    .header > h3 {
        margin: 0px;
        font-size: 1.2rem;
        margin-right: 40px;
    }
 }

 @media only screen and (max-width: 450px) {
    .header_center {
        width: 180px;
    }
    .header_center > input {
        width: 100px;
    }

    .header > h3 {
        margin: 0px;
        font-size: 1.2rem;
        margin-right: 20px;
    }
 }

 @media only screen and (max-width: 394px) {
    .header_center > input {
        width: 60px;
    }
    .header_center > input:focus {
        display: flex;
    }

    .header > h3 {
        margin: 0px;
        font-size: 1.1rem;
        margin-right: 20px;
    }
 }